@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<h2>Quên mật khẩu</h2>

<form asp-action="ChangePassword" method="post">
    <div>
        <input id="NewPassword" name="NewPassword" type="password" required placeholder="Mật khẩu mới" />
    </div>
    <div>
        <input id="ConfirmPassword" name="ConfirmPassword" type="password" required placeholder="Nhập lại mật khẩu" />
    </div>
    <button id="btnChange" type="submit">Lưu thay đổi</button>
    <div>
        <a asp-action="Login" asp-controller="Account">Quay lại đăng nhập</a>
    </div>
</form>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <p style="color: red;">@ViewData["ErrorMessage"]</p>
}
